body {
    height: 100%;
}

.nbeFLeft {
    float: left;
    position: relative;
    padding: 6px 10px 6px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
}
.nbeFLeft .glyphicon {
    color: #fff;
}

.nbeFLeft.nbeSelected {
    background-color: #fff !important;
}
.nbeFLeft.nbeSelected .glyphicon {
    color: #333;
}

.nbeLeftNavBar {
    float: left;
    height: 100%;
    width: 0;
    z-index: 100;
    overflow: hidden;
}
.nbeLeftNavBar.nbeShowedSide {
    width: 227px;
    overflow: visible;
}
.nbeLeftPanel {
    height: 100%;
}

.nbeFooter {
    margin-left: 0;
    min-height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.nbeFooter.nbeFullWidth {
    margin-left: 227px;
}

.nbeContainer {
    margin-left: 0;
    padding-top: 20px;
    min-height: 1770px;
    border-left: 1px solid #ddd;
}
.nbeContainer.nbeFullWidth {
    margin-left: 227px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0;
    position: relative;
}

.nbeAddNewChat {
    margin-bottom: 20px;
    width: 100%;
}

.nbeChatIcon {
    margin-right: 5px;
}

.nbeAvatarCont {
    margin-left: 0;
    margin-right: 0;
}
.nbeAvatar {
    float: left;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
}
.nbeLiLink {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    background: none;
    border: none;
}
.nbeLiLink:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.nbeLiLink:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.nbeLiLink:active,
.nbeLiLink:hover {
    outline: 0;
}
.nbeAddChatMsgGroup .input-group-btn {
    vertical-align: top;
}
.nbeAddChatMsgGroup .form-group {
    vertical-align: top;
}
.nbeAddChatMsgGroup .help-block {
    margin: 0;
}
