.nbeTableLayout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-spacing: 0;
}

.nbeTrHeader {
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.nbeFLeft {
    float: left;
    position: relative;
    padding: 6px 10px 6px 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
}
.nbeFLeft .glyphicon {
    color: #fff;
}

.nbeFLeft.nbeSelected {
    background-color: #fff !important;
}
.nbeFLeft.nbeSelected .glyphicon {
    color: #333;
}

.nbeLeftNavBar {
    vertical-align: top;
    z-index: 100;
    min-width: 227px;
    max-width: 227px;
    position: relative;
    height: 100%;
}
.nbeDisplayNone {
    display: none !important;
}

.nbeFooter {
    min-height: 60px;
    background-color: #eee;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.nbeTrFooter {
    height: 60px;
}

.nbeContainer {
    border-left: 1px solid #ddd;
    width: 100%;
    vertical-align: top;
    position: relative;
}

.nbeAddNewChat {
    margin-bottom: 20px;
    width: 100%;
}

.nbeChatIcon {
    margin-right: 5px;
}
.nbeChatIcon {
    color: lightblue;
}
.nbeChatIcon.glyphicon-user {
    color: lightsalmon;
}

.nbeAvatarCont {
    margin-left: 0;
    margin-right: 0;
}
.nbeAvatar {
    float: left;
    font-size: 18px;
    line-height: 20px;
    color: #9d9d9d;
}
.nbeLiLink {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    background: none;
    border: none;
}
.nbeLiLink:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.nbeLiLink:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.nbeLiLink:active,
.nbeLiLink:hover {
    outline: 0;
}
.nbeAddChatMsgGroup .input-group-btn {
    vertical-align: top;
}
.nbeAddChatMsgGroup .form-group {
    vertical-align: top;
}
.nbeAddChatMsgGroup .help-block {
    margin: 0;
}

.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loaderContent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.loaderContainer.nbeLoading .loaderContent {
    display: none;
}
.loaderContainer.nbeLoading .nbeWaitContainer {
    display: block;
}

.nbeWaitContainer {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.nbeWaitWrapper {
    margin-top: -50%;
    width: 100px;
    height: 100px;
    display: inline;
}

.nbeAjaxMessageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 65px;
    padding: 20px 15px 20px;
    overflow-x: auto;
}

.addNewMsgContainer {
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0 0;

    background: #f5f5f5;
    border-top: 1px solid #ddd;
}

.nbeLeftPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.nbeChatContainer {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    max-height: 100%;
    width: 100%;
}
.nbeChatContainer .nbeChatList {
    margin: 0;
}

.nbeAddChatMsgGroup .dropdown-menu {
    top: initial;
    bottom: 100%;
}
.oneMsgContainer {
    display: block;
    margin-top: 13px;
}
.nbeDate {
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.nbeUser {
    font-size: 14px;
    font-weight: bold;
}
.nbeMessage {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #aaa;
    position: relative;
    padding: 5px 70px 15px 5px;
    min-width: 200px;
    text-align: left;
}
.nbeBgLGolden {
    background: #fafad2;
}
.nbeLCyan {
    background: #e0ffff;
}
.nbeMsgToRight {
    text-align: right;
}
.msgEmptyCmd {
    cursor: not-allowed;
}
.msgLinkCmd {
    cursor: pointer;
    font-weight: bold;
    padding: 1px 10px;
}
